<%= simple_form_for @emotion do |f| %>

  <div class="field">
    <%= f.hidden_field :owner_id, value: current_user.id %>
  </div>

  <div class="field">
    <%= f.label :universal_emotion_id, 'Universal Emotion' %>
    <%= f.collection_select :universal_emotion_id, @universal_emotions, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.file_field :photo, as: :file %>
  </div>

  <div class="actions">
    <%= f.submit "Share Emotion" %>
  </div>
<% end %>
