<div class="emotion-container">
  <% if emotion.photo.attached? %>
    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('<%= cl_image_path @emotion.photo.key, height: 300, crop: :fill %>')">
      <h1><%= @emotion.name.upcase %></h1>
    </div>
  <% else %>
    <div class="banner" style="background-color: navy">
      <h1><%= @emotion.name.upcase %></h1>
    </div>
  <% end %>
  <div class="emotion-content">
    <div id="left">
      <div class="about-card about">
        <h3>About <%= @emotion.name %></h3>
        <p><%= @emotion.description.capitalize %></p>
        <p>It's universal emotion is <%= @emotion.universal_emotion.name.capitalize %></p>
      </div>
      <div class="about-card about-owner">
        <h3>About its owner</h3>
        <div class="owner-details">
          <div class="owner-photo">
            <% if emotion.photo.attached? %>
              <%= cl_image_tag @owner.photo.key, height: 100, width: 100, crop: :fill %>
            <% end %>
          </div>
          <div class="owner-description">
            <div>
            <p><%= @owner.first_name.capitalize %> <%= @owner.last_name.capitalize %></p>
            </div>
            <div>
            <button><%= link_to "Emotions", user_path(@owner), class:"btn-owner"%></button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="right">
      <div class="about-card rating">
        <div class="rating-score">
          <span>4.1</span> ⭐️
        </div>
        <div>
          <%= render 'bookings/form', booking: @booking %>
        </div>
      </div>
      <div class="about-card inquire">
        <h3>Inquire</h3>
        <div class="inquire-info">
          <%= render 'inquiries/form', inquiry: @inquiry %>
        </div>
      </div>
    </div>
  </div>
</div>
