<div class="banner-emotion" style="background-color: #310D42">
  <h1><%= @emotion.name %></h1>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-8">
      <div class="card-emotion">
        <p><%= @emotion.description %></p>
      </div>
      <div class="card-emotion">
        <div><%= link_to "Shared by #{@emotion.user.first_name} #{@emotion.user.last_name}", user_path(@emotion.user), class:"link" %></div>
      </div>
    </div>


      <div class= "rating-container">
      <br>
      <span><%= @emotion.rating %>4,5</span> ⭐️
        <br>
        <%= "Available" if @emotion.available? %>
      </div>
    </div>
    </div>
  </div>
  </div>

<div class= "buttons">
<div >
  <%= link_to "Book", new_emotion_booking_path(@emotion), class:"btn btn-outline-warning" %>
</div>

<div>
  <%= link_to "Back", emotions_path, class:"btn btn-outline-warning" %>
</div>
</div>
