<div class="banner-emotion" style="background-color: skyblue">
  <h1><%= @emotion.name %></h1>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-8">
        <div class="container-emotion">
          <div class="card-emotion">
            <p><%= @emotion.description %></p>
          </div>
          <div class="card-emotion">
            <div><%= link_to "Shared by #{@emotion.user.first_name} #{@emotion.user.last_name}", user_path(@emotion.user), class:"link" %></div>
          </div>
        </div>
    </div>

    <div class="col-4">
      <div class="container-emotion">
        <div class="emotion-rating">
          <span><%= @emotion.rating %></span> ⭐️
        </div>
        <div class="emotion-available">
          <%= @emotion.available? ? "Available" : "Unavailable" %>
        </div>
        <div>
          <button><%= link_to "Inquire", new_emotion_inquiry_path(@emotion) %></button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="emotion-book">
  <button><%= link_to "Book", new_emotion_booking_path(@emotion), class:"button-text" %></button>
</div>
