<div class="banner-emotion" style="background-color: skyblue">
  <h1><%= @emotion.name %></h1>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-8">
      <div class="card-emotion">
        <p><%= @emotion.description %></p>
      </div>
      <div class="card-emotion">
        <div><%= link_to "Shared by #{@emotion.user.first_name} #{@emotion.user.last_name}", user_path(@emotion.user), class:"link" %></div>
      </div>
    </div>

    <div class="col-4">
      <div>
        <span><%= @emotion.rating %></span> ⭐️
      </div>
      <div>
        <%= "Available" if @emotion.available? %>
      </div>
    </div>
  </div>
</div>

<div>
  <%= link_to "Book", new_booking_path(@emotion), class:"button-text" %>
</div>

<div>
  <%= link_to "Back", emotions_path, class:"button-text" %>
</div>
