<%= form_with(model: @booking, url: new_emotion_booking_path, method: :post) do |form| %>
  <%# FIX THIS HSIT %>

  <div class="field">
    <%= form.hidden_field :client_id, value: current_user.id %>
  </div>

  <div class="field">
    <%= form.hidden_field :owner_id, value: current_user.id %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, value: current_user.id %>
  </div>

  <%# FIX THIS HSIT %>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_field :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_field :end_date %>
  </div>

  <!-- Add any other fields you need for the booking form -->

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <div class="actions">
    <%= form.submit "Book Emotion" %>
  </div>
<% end %>
