<%= simple_form_for @booking do |form| %>
  <div>
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, User.all, :id, :first_name, :last_name %>
  </div>

  <div>
    <%= form.label :emotion_id %>
    <%= form.collection_select :emotion_id, Emotion.all, :id, :name %>
  </div>

  <div>
    <%= form.label :start_date %>
    <%= form.date_field :start_date %>
  </div>

  <div>
    <%= form.label :end_date %>
    <%= form.date_field :end_date %>
  </div>

  <div>
    <%= form.button :submit %>
  </div>
<% end %>
