<h1>Bookings</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Emotion</th>
      <th>Start Date</th>
      <th>End Date</th>
    </tr>
  </thead>

  <tbody>
    <% @bookings.each do |booking| %>
      <tr>
        <td><%= booking.user.first_name %></td>
        <td><%= booking.user.last_name %></td>
        <td><%= booking.emotion.name %></td>
        <td><%= booking.start_date %></td>
        <td><%= booking.end_date %></td>
        <td><%= link_to 'Show', booking %></td>
        <td><%= link_to 'Edit', edit_booking_path(booking) %></td>
        <td><%= link_to 'Destroy', booking, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Booking', new_emotion_booking_path %>




