<br>
<div class="card-confirmed">
  <h1><%= @booking.emotion.name.capitalize %> has been booked.</h1>
  <br>
  <h3><strong>Start Date:</strong> <%= @booking.start_date %></h3>
  <h3><strong>End Date:</strong> <%= @booking.end_date %></h3>
  <br>
  <h3><%= @booking.owner.first_name.capitalize %> <%= @booking.owner.last_name.capitalize %> will respond shortly.</h3>
  <br>
  <%= link_to "Your bookings", user_path(@booking.client), class:"button-pink" %>
</div>
<br>
