<h1>New User</h1>

<%= simple_form_for @user, multipart: true do |f| %>
  <%= f.input :first_name %>
  <%= f.input :last_name %>
  <%= f.input :email %>
  <%= f.input :password %>

  <%= f.button :submit, 'Create User' %>
<% end %>

<%= link_to 'Back', users_path %>
