<div class="banner owner-details-profile">
  <div class="owner-photo-profile">
    <% if @user.photo.attached? %>
      <%= cl_image_tag @user.photo.key, height: 400, width: 400, crop: :fill, radius: "max", background: "#ffe9bf" %>
    <% else %>
      <p>Profile Photo Missing</p>
    <% end %>
  </div>
  <div class="owner-description-profile">
    <h1><%= @user.first_name.capitalize %> <%= @user.last_name.capitalize %></h1>
  </div>
</div>

<div style="background-color:navy; height: 5px; margin: 30px 0px 20px 0px;"></div>

<div class="center-text">
  <h2 class="h2-pink margin-top-20">Emotions</h2>
  <button class="share-button margin-bottom-20"><%= link_to 'Share an emotion', new_emotion_path, class:"share-button" %></button>
</div>
<div class="cards-container">
  <div class="card-grid">
    <% @emotions.each do |emotion| %>
      <div class="card">
        <% if emotion.photo.attached? %>
          <%= cl_image_tag emotion.photo.key, alt: emotion.name, class: 'card-image' %>
        <% end %>
        <div class="card-info">
          <h2 class="emotion-name"><%= emotion.name %></h2>
          <p class="emotion-description"><%= emotion.description %></p>
          <%= link_to "Delete",
              emotion_path(emotion), class:"button-orange",
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div style="background-color:navy; height: 5px; margin: 30px 0px 20px 0px;"></div>

  <h2 class="center-text h2-pink">Bookings</h2>
  <div class= "big-container">

    <div class= "booking-container">
      <h3>As an owner</h3>
      <ul>
        <% @owner_bookings.each do |booking| %>
          <div class="card-emotion"><%= link_to booking.emotion.name, emotion_path(booking.emotion), class: "no-underline button-pink" %></div>
        <% end %>
      </ul>
    </div>

    <div class= "experiences-container">
      <h3>As a client</h3>
      <ul>
        <% @client_bookings.each do |booking| %>
          <div class="card-emotion">
          <%= link_to booking.emotion.name, emotion_path(booking.emotion), class: "no-underline button-pink" %>
          <br>
          <%= link_to "Rate your experience", new_emotion_booking_rating_path(booking.emotion, booking), class:"button-orange" %></div>
        <% end %>
      </ul>
    </div>
      <button class= "button-orange"><%= link_to "Delete my account", user_path(current_user), class:"button-orange", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></button>

  </div>
