<div class="banner owner-details">
  <div class="owner-photo">
    <%= cl_image_tag @user.photo.key, height: 100, width: 100, crop: :fill %>
  </div>
  <div class="owner-description">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
  </div>
</div>

<div class="center-stuff">
  <h2>Emotions</h2>
  <button class="share-button"><%= link_to 'Share an emotion', new_emotion_path, class:"share-button" %></button>
</div>
<div class="cards-container">
  <div class="card-grid">
    <% @emotions.each do |emotion| %>
      <div class="card">
        <%= cl_image_tag emotion.photo.key, alt: emotion.name, class: 'card-image' %>
        <div class="card-info">
          <h2 class="emotion-name"><%= emotion.name %></h2>
          <p class="emotion-description"><%= emotion.description %></p>
          <%= link_to "Delete",
              emotion_path(emotion), class:"book-button",
              data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
        </div>
      </div>
    <% end %>
  </div>
</div>

  <h2 class="center-text" >Bookings</h2>
  <div class= "big-container">

    <div class= "booking-container">
      <h3>As an owner</h3>
      <ul>
        <% @owner_bookings.each do |booking| %>
          <div class="card-emotion"><%= link_to booking.emotion.name, emotion_path(booking.emotion), class: "no-underline book-button-bookings" %></div>
        <% end %>
      </ul>
    </div>

    <div class= "experiences-container">
      <h3>As a client</h3>
      <ul>
        <% @client_bookings.each do |booking| %>
          <div class="card-emotion">
          <%= link_to booking.emotion.name, emotion_path(booking.emotion), class: "no-underline book-button-bookings" %>
          <br>
          <%= link_to "Rate your experience", new_emotion_booking_rating_path(booking.emotion, booking), class:"book-button" %></div>
        <% end %>
      </ul>
    </div>
      <button class= "book-button"><%= link_to "Delete my account", user_path(current_user), class:"book-button", data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></button>

  </div>
