<!DOCTYPE html>
<html>
  <head>
    <title>Intensify</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <style>
  @import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');

</style>
  </head>

  <body>
    <%# <p class="notice"><%= notice %>
    <%# <p class="alert"><%= alert %>

    <%= render "shared/navbar" %>
    <%= yield %>
    <div class="footer center-text">
      <p>©2023 Intensify</p>
    </div>
  </body>
</html>
